@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

:root {
  --fonte-padrao: "Playpen Sans", cursive;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

body {
  min-height: 100vh;
  background-color: lightgrey;
}

header {
  background-color: black;
  color: white;
  font-family: var(--fonte-padrao);
  text-align: center;
  padding: 50px;
}

header h1 {
  font-weight: bolder;
  /* utilizando "vw" sem media query para fins de estudo */
  font-size: 6vw;
  font-variant: small-caps;
}

header p {
  font-weight: lighter;
}

header a {
  font-weight: bolder;
  text-decoration: none;
  color: white;
}

header a:hover {
  text-decoration: underline;
}

section {
  text-align: left;
  font-family: var(--fonte-padrao);
  /* utilizando "vw" e "vh" sem media query para fins de estudo */
  font-size: 3vw;
  line-height: 2em;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 30px;
}

section p {
  padding-bottom: 2em;
}

section.normal {
  background-color: white;
  color: black;
}

section.with-background {
  background-color: rgb(54, 54, 54);
  background-position: right center;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.384);
}


section.with-background p {
  color: white;
  background-color: rgba(0, 0, 0, 0.479);
  display: inline-block;
  border-radius: 0px 20px 20px 0;
  padding-left: 30px;
  margin-left: -30px;
  padding-right: 20px;
  padding-top: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.514);
}

section#img1 {
  background-image: url('imagens/background001.jpg');
}

section#img2 {
  background-image: url('imagens/background002.jpg');
}

footer {
  padding: 20px;
  background-color: black;
  color: white;
  text-align: center;

}

footer a {
  text-decoration: none;
  font-weight: bolder;
  color: white;
  padding-left: 3px;
}

footer a:hover {
  text-decoration: underline;
}